<div class ="container mt-4">
  <div class ="m-2">
    <h1>List of restaurants </h1>
  </div>
  <% @restaurants.each do |restaurant| %>
  <div class ="card m-2 p-2">
    <p><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></p>
    <p><%=restaurant.address%>
    <p><%=restaurant.phone_number%>
    <p><%=restaurant.category%>
  </div>
  <% end %>
</div>